<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      新規登録
    </h1>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">アイコンを選んでください</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.file_field :avatar, id:"icon-image", autofocus: true %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">アカウントID(半角英数字)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :identification, class:"input-default", id:"indispensable", placeholder:"例) abc123", maxlength:"40" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) スキル太郎", maxlength:"30" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字", maxlength:"30" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい", maxlength:"30" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">実績</label>
      <span class="indispensable">任意</span>
    </div>
    <%= f.text_area :achievement, class:"input-area", id:"password-confirmation", placeholder:"例)
 日本〇位
 〇〇大会優勝
 その他実績あり", maxlength:"1000" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">自己紹介</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :profile, class:"input-area", id:"password-confirmation", placeholder:"例）
 初めまして！〇〇のゲームやっています。初心者です！よろしくお願いします！", maxlength:"1000" %>
  </div>
  <div class='register-btn'>
    <%= f.submit "登録する" ,class:"register-blue-btn" %>
  </div>
</div>
<% end %>
