<%= render "shared/header" %>

<div class='main'>
 <%# 画面上部の「ゲーマー育成アプリ」帯部分 %>
  <%=  %>
  <div class ='title-top'>
    <%= image_tag "skill01.jpg" %>
    <p class='title-service1'>教える？教わる？</p>
    <p class='title-service2'>コーチと生徒を結ぶ</p>
    <p class='title-service3'>ゲーマー育成アプリ</p>
    <% if user_signed_in? %>
    <% else %>
      <%= link_to(new_user_session_path, class: "sign") do %>
        <span class='session-btn-text'>ログイン</span>
        <%= image_tag 'login.png' , size: '160x80',class: "" %>
      <% end %>
      <%= link_to(new_user_registration_path, class: "sign-in") do %>
        <span class='session-btn-text'>新規登録</span>
        <%= image_tag 'sign.jpeg' , size: '120x80',class: "" %>
      <% end %>
    <% end %>

  </div>
  <%# /画面上部の「ゲーマー育成アプリ」帯部分  %>

  <%# 投稿一覧 %>
  <div class='recruitment-contents'>
    <h2 class='title'>新規募集一覧</h2>
    <ul class='recruitment-lists'>
      <% @recruitments.each do |recruitment| %>
      <li class='recruitment-list'>
        <div class='recruitment-img-content'>
        <%= link_to recruitment_path(recruitment.id) do %>
          <%= image_tag recruitment.image, class: "recruitment-img" %>
          <%# if recruitment.record != nil  %>
          <%#<div class='sold-out'>
            <span>受付終了!!</span>
          </div>
          <% end %> 
        </div>
        <div class='recruitment-info'>
          <h3 class='recruitment-name'>
            <%= recruitment.heading %>
          </h3>
          <div class= 'r-category'>
            <%= recruitment.category.root.name %>
            ＜
            <%= recruitment.category.parent.name %>
            ＜
            <%= recruitment.category.name %>
          </div>
          <div class= 'r-content'>
            <%= recruitment.content %>
          </div>
          <div class="recruitment-user-name">
            <%= recruitment.user.nickname %>
          </div>
          <div class='recruitment-price'>
            <span><%= recruitment.price %>円</span>
          </div>
      <% end %>
        </div>
    </li>
  </ul>
    <% end %>
    <% if @recruitments[0] == nil %>
    <div class='new-content'>
    生徒を募集しよう！
    <% end %>
  </div>
<%# /投稿一覧 %>

<%= link_to(new_recruitment_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>新規募集</span>
  <%= image_tag 'icon-new.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
</div>