<%= render "shared/header" %>

  <%# ユーザー情報 %>
<div class=' recruitment-show'>
  <div class='recruitment-user'>
    <span class='recruitment-userーprofile'>出品者情報</span>
    <div class='user-profile'>
      <%= image_tag @recruitment.user.avatar.to_s, class: "user-image" %>
      <%= link_to @recruitment.user.nickname, "#", class: "recruitment-user-nickname" %>
    </div>
    <div class='status'>
    受付中
    </div>
  </div>

  <div class="recruitment-shows">
    <div class="recruitment-box">
      <div class='recruitment-show-title'>
        <h2 class="recruitment-show-name">
          <%= @recruitment.heading %>
        </h2>
      </div>

      <div class="recruitment-show-category">
          <%= @recruitment.category.name %>
      </div>


      <div class="recruitment-img-content">
        <div class="recruitment-img-show">
        <%= image_tag @recruitment.image %>
        </div>
        <%# if @item.purchase_record != nil  %>
        <%#  <div class="sold-out">
          <span>受付終了！</span>
        </div> 
        <% end %>
      </div>

      <div class="recruitment-sbow-explanation">
        <div class="recruitment-sbow-heading">
          <%= @recruitment.heading %>
        </div>
        <div class="recruitment-sbow-content">
          <%= @recruitment.content %>
        </div>
        <div class='recruitment-sbow-price'>
        <%= @recruitment.price %>
        </div>
      </div>

    
      <% if user_signed_in? && current_user.id == @recruitment.user_id  %>
      <%= link_to "商品の編集", edit_recruitment_path(@recruitment.id), method: :get, class: "recruitment-blue-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", recruitment_path(@recruitment.id), method: :delete, class:"recruitment-destroy" %>
      <% elsif user_signed_in?  %>
      <%= link_to "購入画面に進む", '#' ,class:"recruitment-blue-btn"%>
      <% end %>
      </div>
    </div>
    <%# /商品の概要 %>

    <div class="links">
      <a href="#" class="change-item-btn">
        ＜ 前の商品
      </a>
      <a href="#" class="change-item-btn">
        後ろの商品 ＞
      </a>
    </div>
    <a href="#" class="another-item"><%= @recruitment.category.name %>をもっと見る</a>
  </div>
</div>