<%= render "shared/header" %>

  <%# ユーザー情報 %>
<div class=' recruitment-show'>
  <div class='recruitment-user'>
    <span class='recruitment-userーprofile'>出品者情報</span>
    <div class='user-profile'>
      <%= image_tag @recruitment.user.avatar.to_s, class: "user-image" %>
      <%= link_to @recruitment.user.nickname, "#", class: "recruitment-user-nickname" %>
    </div>
    <div class='status'>
    <%# <%= if %>
    受付中
    </div>
  </div>

  <div class="recruitment-shows">
    <div class="recruitment-show-content">
      <div class='recruitment-show-title'>
        <span class="contents-heading">
          <%= @recruitment.heading %>
        </span>
      </div>
      <span class="contents-image">
        <%= image_tag @recruitment.image, class: "content-image" %>
        <%# if @item.purchase_record != nil  %>
        <%#  <div class="sold-out">
          <span>受付終了！</span>
        </div> 
        <% end %>
      </span>
      <div class="recruitment-show-category">
        <span class="contents-category">
          <%= @recruitment.category.name %>
        </span>
      </div>
      <div class="recruitment-sbow-explanation">
        <span class="contents-content">
          <%= @recruitment.content %>
        </span>
      </div>
      <div class='recruitment-sbow-price'>
        <span class="contents-price">
          <%= @recruitment.price %>
          円
        </span>
      </div>
  
    <div class="recruitment-edit-purchase">
      <% if user_signed_in? && current_user.id == @recruitment.user_id  %>
      <div class="recruitment-show-btn">
        <%= link_to "投稿の編集", edit_recruitment_path(@recruitment.id), method: :get, class: "recruitment-btn-font" %>
      </div>
      <p class="or-text">or</p>
      <div class="recruitment-show-btn">
        <%= link_to "削除", recruitment_path(@recruitment.id), method: :delete, class: "recruitment-btn-font  aa" %>
      </div>
      <% elsif user_signed_in?  %>
      <div class="recruitment-show-btn">
        <%= link_to "購入画面に進む", '#' ,class:"recruitment-btn-font aaa"%>
      </div>
      <% end %>
    </div>
      <%# /商品の概要 %>

    <div class="links">
      <a href="#" class="change-recruitment-btn">
        ＜ 前の投稿
      </a>
      <a href="#" class="change-recruitment-btn">
        後ろの投稿 ＞
      </a>
    </div>
    <div class='category-rinks'>
      <%= image_tag 'search.jpeg' , size: '30x30' ,class: "search-btn-icon" %>
      <a href="#" class="another-recruitment"><%= @recruitment.category.name %>をもっと見る</a>
    </div>
  </div>
</div>