%body
  %header.top-page-header
    .list
      .lists-left
        = link_to 'コミュニティ', '#', class: "path"
        = link_to 'DM', '#', class: "path"
      .lists-middle
        = link_to 'Skill', root_path, class: "top-app"
        = image_tag "Slogo.png", class: "app-img"
        = link_to 'kip', root_path, class: "top-app"
      .lists-right
        - if user_signed_in?
          = link_to current_user.nickname, '#', class: "light-name"
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "light-name"
        - else
          = link_to 'ログイン', new_user_session_path, class: "light-name"
          = link_to '新規登録', new_user_registration_path, class: "light-name"
