<header class='top-page-header'>
  <div class='list'>
    <div class='lists-left'>
    <% if user_signed_in? %>
    <%= link_to 'コミュニティ(実装中です)', '#', class: "path" %>
    <%= link_to 'DM(実装中です)', '#', class: "path"  %>
    <%= link_to 'カテゴリー(実装中です)', '#', class: "path" %>
    <% end %>
    </div>
    <div class='lists-middle'>
      <div class='top-app'>
      Skill
      </div>
      <%= image_tag 'Slogo.png', class: 'app-img' %>
      <div class='top-app'>
      kip
      </div>
    </div>
    <div class='lists-right'>
    <% if user_signed_in? %>
      <div class='user-name-icon'>
      <%= image_tag current_user.avatar.to_s, class: "user-image" %>
      <%= link_to current_user.nickname, '#', class: "light-name" %>
      </div>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "light-name" %>
    <% end %>
    </div>
  </div>
</header>