<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <%#= image_tag current_user.image, "#", class: "user-image" %>
      <li><%= link_to current_user.nickname, '#', class: "user-nickname" %></li>
    <ul class='lists-right'>
    <% if user_signed_in? %>
    <li><%= link_to 'コミュニティ', '#', class: "path" %></li>
    <li><%= link_to 'DM', '#', class: "path"  %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
    </ul>
  </div>
</header>